@charset 'utf-8';
:root{
    --c141: #1c1b19;
    --cfa6: #ffffffa6;
    --c808: #808080;
    --cFF6: #FF69B4;
    --starC: #FF69B4;

    /*主背景*/
    --iBac: #3C3F41;

    /*编辑区*/
    --iCon: #2B2B2B;

    /*文字*/
    --iFon: #A9B7C6;

    /*蓝*/
    --iBlu: #6897BB;

    /*橙*/
    --iOri: #BC5A2B;

    /*绿*/
    --iGre: #6A8759;

    /*红*/
    --iRed: #FF0000;

    /*err -red */
    --iErr: #CC666E;
    --iLnu: #313335;
    --iBor: #515151;
}

html,body{
    font-family: Consolas,monospace !important;
}

.box{
    background-color:  var(--iCon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border-left: solid 1px var(--iBor);
} 

:first-child .main_inner{
    max-width: 100%;
}

.message_empty {
    display: none;
}
.web_wechat_screencut {
    display: none;
}
.message_system {
    display: none;
}
/* avatar*/
img{
    display: none !important;
}
.recommendation,.avatar,.img {
    display: none !important;
}
/*download_entry*/
.download_entry.ng-scope{
    display:none !important;
}
/*display_name*/
.display_name.ng-binding{
    display:none !important;
}
/*title_wrap*/
.box_hd .title_wrap{
    border-bottom: none;
    background-color: #00000000;
    box-shadow: none;

}	
.box_hd .title .title_name {
    color: #ffffffa6;
    font-weight: 100;
    width: 10px;
    font-size:10px;
}
/*edit box*/
.chat .box_ft {
    height: 180px;
    margin-right: 19px;
    border-top: 1px solid #ffffff1f;
    border-top-color: #ffffff1f;
}
.chat .box_ft .content .flex {
    font-size: 10px;
    color: var(--c808); 
}
.chat .box_ft .desc {
    display: none;
}
/*msg*/
.bubble.bubble_primary {
    background-color: var(--c141);
    color: #808080;
}
.bubble.bubble_primary.right.arrow_primary::before, .bubble.bubble_primary.right::after {
    border: solid 1px #177ddc;
    background: #177ddc;
    border-radius: 100%;
}
.bubble.bubble_default {
    background-color: #141414;
    color: #808080;
}
.bubble.left::after {
    border-right-color: #141414;
}
.message.me {
    text-align: left;
}
.bubble.right::after, .bubble.right::before {
    left: 0;
}
.btn_send{
    display: none;
}


/*left panel*/
.panel{
    width: 200px;
    background: var(--iBac);
    border-right: 60px solid var(--iLnu);
}
/*friend list*/
.chat_item .info .nickname {
    font-size: 10px;
    color: var(--iFon);
}
.msg.ng-scope {
    display: none;
}
.chat_item.active .ext, .chat_item.active .info .msg {
    color: var(--c141);
}
.chat_item.active {
    background-color: #111b26;
}
.recommendation {
    background: var(--c141); 
}
.recommendation .contact_title {
    color: var(--cfa6);
    background-color: var(--c141); 
}
.recommendation .contact_item.on {
    background: var(--c141); 
}
.recommendation .contact_item {
    background-color: var(--c141); 
}

/*drop menu*/
.dropdown_menu {
    background-color: var(--c141);
    border: none;
}
.dropdown_menu li a {
    color: var(--cfa6);
    font-size: 10px;
    border-bottom: solid 1px #303030;
    text-align: left;
}
.dropdown_menu li a:hover {
    background-color: #111b26;
}

/*login page*/
.ng-scope.ng-isolate-scope.unlogin{
    background: var(--c141);
}
.login_box {
    background-color: #141414;
    -webkit-box-shadow: none;
}
.login_box .qrcode .sub_title {
    display: none; 
}
.login_box .qrcode .sub_desc {
    display: none; 
}
.web_wechat_login_logo {
    display: none; 
}
.login_box .qrcode .img {
    width: 90px;
    height: 90px; 
}


/*star*/
#star {
    margin-top: -100px;
    position: relative;
    display: block;
    color: val(--starC);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid val(--starC) ;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(35deg);
}
#star:before {
    border-bottom: 8px solid val(--starC) ;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -6px;
    left: -7px;
    display: block;
    content:  "";
    -moz-transform: rotate(-35deg); 
}
#star:after {
    position: absolute;
    display: block;
    color: val(--starC);
    top: 0px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid val(--starC) ;
    border-left: 10px solid transparent;
    -moz-transform: rotate(-70deg);
    content: ""; 
}
@keyframes star {
    0% {
        left:0px;
        top:0px;
    }
    95% {
        left:95vw; 
        top:95vh;
    } 
}
@keyframes star2 {
    0% {
        left:0px;
        top:0px;
    }
    95% {
        left:95vw;
        top:95vh;
    } 
}
.star-play{
    animation: star 5s;
}
.star-play2{
    animation: star2 5s;
}


/*ide style*/
.ide-head{
    height: 30px;
    background: var(--iBac);
    color: var(--iFon);
    line-height: 30px;
    font-weight: 500;
    font-size: 14px;
    border-bottom: solid 2px var(--iBor);
    font-family: Consolas,monospace;
}

.ide-head .underline{
   text-decoration: underline
}

.ide-head .log{
    background: #000;
    border: solid 1px blue;
    font-size: 10px;
    padding: 2px;
}

.ide-head .unline{
   text-decoration: none; 
}

/*搜索框*/
.search_bar .frm_search{
    background: #0000000a;
}
/*文件列表*/
.chat_item{
    padding: 5px 18px 5px;
    border-bottom: none;
}
.panel.give_me .nav_view {
    top: 150px;
}

/* */
.bubble.bubble_primary {
    background-color: var(--iBac);
    color: var(--iFon);
}

